@import "vars";

header{
  width: 100%;

  .logo{
    text-align: center;
    padding: 25px;
  }

  nav{
    padding: 17px 0;
    border: 1px solid $secondary-text-color;
    border-left: none;
    border-right: none;

    ul{
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      li.active{
        opacity: .6;
      }
      li:hover{
        opacity: .7;
      }
      @media screen and (max-width: 1077px){
        gap: 35px;
      }
    }
  }


  @media screen and (max-width: 999px){
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    border-bottom: 1px solid $secondary-text-color;
    nav{
      display: none;
    }
    .logo {
      display: inline-block;
      padding: 10px;

      svg {
        height: 50px;
        width: 70px;
      }
    }
  }
}