@import "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary-text-color;
  background: $bg-light-color;
  position: relative;
}

.bg-image{
  position: absolute;
  max-height: 100vh;
  max-width: 100%;
  bottom: 170px;
  z-index: -1;
}

.container{
  max-width: 1250px;
  margin: auto;
  width: 100%;
  padding: 0 25px;
  //@media screen and (max-width: 1200px){
  //  max-width: 1010px;
  //}
}

a{
  text-decoration: none;
  color: inherit;
}

@import "ui";
@import "header";
@import "contacts";
@import "footer";